body {
  background-color: #334;
  color: white;
  height: 3000px;
}
#chat {
  padding: 5px;
  /* width: 270px;
  height: 400px; */
  background-color: #eef;
  border: 1px solid #666;
  position: fixed;
  right: 50px;
  bottom: 50px;
}
#chat .chat-header {
  height: 60px;
  color: #222;
  border-bottom: 1px solid #888;
}
#chat .chat-header h3 {
  float: left;
}
#chat .chat-header button {
  float: right;
  cursor: pointer;
}
#chat .chat-body {
  height: 220px;
}
#chat .chat-footer {
  height: 60px;
  border-top: 1px solid #888;
}
#chat .form-send input {
  padding: 20px;
}
#chat .form-send button {
  padding: 20px;
}
#chat .chat-icon {
  display: none;
}
#chat.hidden .chat-icon {
  display: block;
  font-size: 300%;
  cursor: pointer;
}
#chat.hidden .chat-header,
#chat.hidden .chat-body,
#chat.hidden .chat-footer {
  display: none;
}
#chat.hidden {
  background-color: transparent;
  border: none;
}
